// Horizontal divider
.horizontal-divider-pattern {
    height: 15px;
    background-image: linear-gradient(
       45deg, #777777 16.67%, #ededee 16.67%, #ededee 50%, #777777 50%, #777777 66.67%, #ededee 66.67%, #ededee 100%);
    background-size: 8.49px 8.49px;
 }

.horizontal-divider {
   background: lighten($black, 80);
   height: 1px;
   padding: 0px 20px 0px 20px;
}

.horizontal-divider-02 {
   background: lighten($black, 75);
   height: 1px;
   margin: 0px 20px 0px 20px;
}

// Banners
.section-banner {
   .section-banner-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 200px;
      h1, h2, h3, h4, h5, h6 {
       font-family: 'Eina03-SemiBold', 'Source Sans Pro', sans-serif;
       }
      p {
       font-family: 'Eina03-Regular', 'Source Sans Pro', sans-serif;
      } 
   }
}

//Box shadow
$box-shadow: 0 16px 40px rgba(0,0,0,0.12)
