
table.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;


    thead th {
        vertical-align: bottom;
        }

     td, th {
        border: none;
        padding: .75rem;
        padding-top: 0.75rem;
        padding-right: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 0.75rem;
        vertical-align: top;
        }

    th {
        text-align: inherit;
        }

    //stripes
    tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    }
}
