@import "./variables/custom-bulma-variables";

@import "./node_modules/bulma/bulma.sass";
@import "./node_modules/bulma/sass/utilities/initial-variables.sass";

@import "./variables/variables";

@import "./base/custom-reset";
@import "./base/colors";
@import "./base/layout";
@import "./base/typography";
@import "./base/helpers";

@import "./elements/forms";
@import "./elements/buttons";
@import "./elements/design";
@import "./elements/cards";
@import "./elements/tables";


@import "./components/header-navigation";
@import "./components/footer";
@import "./components/datepicker";
@import "./components/login-pages";
@import "./components/map";

@import "./templates/404-pages";


.hidden{
  display:none
}

/* IE11 Bulma Dropdown Override see:https://github.com/jgthms/bulma/issues/2503 and https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-within */
// should be fixed in next bulma release (current release 0.8.0)
.navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
  opacity: 1 !important;
  pointer-events: auto;
  transform: translateY(0);
}
